@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;

}

body {
  margin: 0;
  background: url("./assets/texture.jpg") no-repeat;
  background-size: cover;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.1rem 1.0rem;
  border-radius: 6px;
  margin: 10px;
  background-color: transparent;
  color: #313131;
  border: 1px solid #313131;
}

button:hover,
button:active {
  background-color: #313131;
  border-color: #313131;
  color: white;
}